body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FAE8E0;
  color: #000000;
}

header {
  margin: 20px 0px 0px 0px;
}

.navbar-brand {
  font-size: 28pt;
  font-weight: normal;
  font-family: "Dela Gothic One", cursive;
}

.navbar .navbar-expand-lg .navbar-light {
  background-color: #fae8e0;
}

.navbar {
  box-shadow: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.container-fluid {
  background-color: #fae8e0;
}

title {
  font-family: "Dela Gothic One", cursive;
}

.main-link {
  color: #000 !important;
  text-decoration: none;
}

.nav_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.dropdown-menu {
  background-color: #FAEEE8;
}

#second {
  background-color: #B2D5F2;
}

#heart {
  border: none;
  outline: none;
  background: transparent;
}

.list-group-item {
  border-color: #B2D5F2;
  background-color: #B2D5F2;
}

@media (max-width: 480px) {
  .list-group {
    flex-wrap: wrap;
  }

  .list-group li {
    width: 50%;
  }
}
#myTab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 40px 15px -40px 0px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #000;
  background-color: #f9f7ed;
  border-color: #dee2e6 #dee2e6 #f8fafc;
  text-decoration: none;
}

.nav-tabs_mo .nav-item .nav-link.active {
  color: #000;
  background-color: #d8a7b1;
  border-color: #dee2e6 #dee2e6 #f8fafc;
  text-decoration: none;
}

.nav-tabs_mo .nav-link {
  color: #000;
  background-color: none;
  border: 1px solid transparent;
  border-color: #dee2e6 #dee2e6 #f8fafc;
}

li:last-child {
  border-right: none;
}

a {
  color: #000 !important;
  text-decoration: none;
}

.profile_icon {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
}

.profile_icon_top {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile_icon_top img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
}

.profile_icon_memory {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile_icon_memory img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
}

.box {
  background-color: #ef7c8e;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 40px 0 20px 0;
}

.box_ma {
  background-color: #b6e2d3;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 40px 0 20px 0;
}

.box_me_c {
  background-color: #f9f7ed;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 40px 0 20px 0;
}

.box_me_v {
  background-color: #f9f7ed;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 40px 0 20px 0;
}

.box_mo_c {
  background-color: #d8a7b1;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 40px 0 20px 0;
}

.box_yo {
  background-color: #d8a7b1;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 40px 0 20px 0;
}

.box_pro {
  background-color: #f9f7ed;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 40px 0 20px 0;
}

.money_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.money_table tr {
  border-bottom: solid 1px #FAE8E0;
  cursor: pointer;
}

.money_table tr:hover {
  background-color: #FAE8E0;
}

.money_table th, .money_table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.memory_table th, .memory_table td {
  width: 25%;
  padding: 15px 0;
  boder: none;
}

.oshi_table th, .oshi_table td {
  width: 25%;
  padding: 15px 0;
  boder: none;
}

.list_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.list_table th, .list_table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.wrap-chart {
  width: 100%;
  height: 700px;
}

@media (max-width: 480px) {
  .wrap-chart {
    height: 400px;
  }
}
div .col {
  display: flex;
  flex-wrap: wrap;
}

div .card {
  background-color: #f9f7ed;
  border-radius: 10px;
}

.card img {
  height: 100%;
  aspect-ratio: 4/3;
}

.col-1o {
  padding: 0 0 0 0;
  padding-left: 0px;
}

#tentacles {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  line-height: 1.6;
  text-align: right;
}

select.form-control {
  text-align: right;
}

.btn {
  text-align: center;
}

.table-dark {
  color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.notify {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

.notifyimg {
  width: 100%;
  max-width: 640px;
  height: auto;
  box-sizing: border-box;
}

.box_bottom_center {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
  font-weight: bold;
  font-size: clamp(16px, 2vw, 36px);
  font-family: "Dela Gothic One", cursive;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px 10px;
}

.box_top_left {
  position: absolute;
  padding: 5px;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 36px);
  top: 5%;
  left: 15%;
  transform: translate(-15%, -20%);
  margin: 10px 10px;
}

.box_top_right {
  position: absolute;
  padding: 5px;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 36px);
  top: 10%;
  right: 0%;
  transform: translate(-15%, -20%);
  margin: 10px 10px;
}

.box_bottom_right {
  position: absolute;
  padding: 5px;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 36px);
  bottom: 7%;
  right: -7%;
  transform: translate(-15%, -20%);
  margin: 10px 10px;
}

.box_bottom_left {
  position: absolute;
  padding: 5px;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 36px);
  bottom: 15%;
  left: 10%;
  transform: translate(-15%, -20%);
  margin: 10px 10px;
}
